.skills {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillsTitle {
  font-size: 50px;
  font-weight: 600;
  align-content: center;
  margin-bottom: 20px;
}

table {
  display: grid;
  border: 1px solid black;
}

td {
  cursor: pointer;
}

td:hover {
  transform: scale(1.1)
}