.iconContainer {
  z-index: 999;
  display: flex;
  align-items: center;
  position: absolute
}

.linkedIn {
  font-size: 24px;
  margin-right: 5px;
  margin-top: 10px;
  color: #1F2937;
  z-index: 999;
}

.github {
  font-size: 24px;
  margin-right: 5px;
  margin-left: 30px;
  margin-top: 10px;
  color: #1F2937;
  z-index: 999;
}

.blogLink {
  color: #1F2937;
  text-decoration: underline;
  font-size: 18px;
  margin-left: 5px;
}